h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
}
h2{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
h3{
    font-family: Helvetica;
    font-size: 19px;
}
#brushes h2{
    background-color: mediumspringgreen;
}
#frames h2{
    background-color: lightcoral;
}
#paint h2{
    background-color: skyblue;
}
.starting{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;  
}
p{
    font-family: Helvetica;  
}
